<header class="bg-emerald-500 text-white flex h-20 items-center p-6">
  <h1 class="text-3xl font-bold flex items-center">
    <%= link_to 'Anitrient', '#' %>
  </h1>
  <nav>
    <button id="button" type="button" class="fixed top-6 right-6 z-10">
      <i id="bell" class="fa-regular fa-bell fa-2x"></i>
      <i id="glass" class="fa-solid fa-magnifying-glass fa-2x"></i>
      <i id="bars" class="fa-solid fa-bars fa-2x"></i>
      <i id="xmark" class="fa-solid fa-xmark fa-2x hidden text-white"></i>
    </button>
    <ul id="menu" class="fixed top-0 left-0 z-0 w-full translate-x-full bg-gray-500 text-center text-xl font-bold text-white transition-all ease-linear">
    　<li><%= link_to "獲得称号一覧", "#"%></li>
      <li><%= link_to "リクエストフォーム", "#" %></li>
      <li><%= link_to "ログアウト", "#" %></li>
    </ul>
  </nav>
</header>
<main>
<script>
  button.addEventListener('click', event => {
    bell.classList.toggle('hidden')
    glass.classList.toggle('hidden')
    bars.classList.toggle('hidden')
    xmark.classList.toggle('hidden')
    menu.classList.toggle('translate-x-full')
  });
</script>
</main>

<!-- Second header outside the first header -->
<header class="bg-gray-200 p-7 h-full">
  <nav>
    <button class="flex space-x-6 fixed right-0 mr-2 mt-px text-2xl">
      <%= link_to 'マイリスト', '#' %>
    </button>
  </nav>
</header>